<!-- 模态框（Modal） -->
<div tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          批量转移
        </h4>
      </div>
      <div class="modal-body">
        <form  class="form-horizontal" action="{{ path('ticket_transfer') }}" method="post" accept-charset="utf-8" id="transferForm">

          <div class="form-group">
            <label class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
              <input id="selectedIds" type="hidden" name="selectedIds">
              <input id="operatorNo" name="operatorNo" type="text" class="form-control" 
              placeholder="请输入客服编号">
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
        data-dismiss="modal">关闭
        </button>
        <button id="comfirm-transfer" type="button" class="btn btn-primary">
        确认转移
        </button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div>
</div>
<!-- /.modal -->
<script src="{{ asset('assets/libs/validator/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/libs/validator/messages_cn.js') }}"></script>
<script src="{{ asset('assets/js/web/operator/validate-transfer.js') }}"></script>