<div class="modal-dialog ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">修改优先级</h4>
    </div>
    <div class="modal-body">
      <form id="change-priority-form" class="form-horizontal" method="post">
        <div class="radios">
          <label>
            <input type="radio" style="margin-left: 15px;" name="priority" value="5" {% if ticket.priority == 5 %}checked="checked"{% endif %}>立即
          </label>
          <label>
            <input type="radio" style="margin-left: 15px;" name="priority" value="4" {% if ticket.priority == 4 %}checked="checked"{% endif %}>紧急
          </label>
          <label>
            <input type="radio" style="margin-left: 15px;" name="priority" value="3" {% if ticket.priority == 3 %}checked="checked"{% endif %}>高
          </label>
          <label>
            <input type="radio" style="margin-left: 15px;" name="priority" value="2" {% if ticket.priority == 2 %}checked="checked"{% endif %}>正常
          </label>
          <label>
            <input type="radio" style="margin-left: 15px;" name="priority" value="1" {% if ticket.priority == 1 %}checked="checked"{% endif %}>低
          </label>
        </div>
      </form>
    </div>
    {{ form_csrf_token() }}
    <div class="modal-footer">  
      <button id="change-priority-btn" data-submiting-text="正在提交" class="btn btn-primary pull-right" data-id="{{ ticket.id }}" data-url="{{ path('admin_ticket_priority_change', {id:ticket.id}) }}" method="post">保存</button>
      <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
    </div>
  </div>
</div>