<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>HERMES</b>TICKET</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" style="box-shadow:21px 21px 21px #e5e5e5;"> 
    <p class="login-box-msg"></p>

    <form action="{{ path('login_check') }}" method="post">
      <div class="form-group has-feedback">
        <label>用户名:</label>
        <input type="text" id="username" name="_username" class="form-control" value="{{last_username}}">
        <span class="fa fa-fw fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <label>密码:</label>
        <input type="password" id="password" name="_password" class="form-control">
        <span class="fa fa-fw fa-unlock-alt form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck col-xs-8">
            <label>
              <input type="checkbox">记住密码
            </label>
          </div>
        </div>
        <!-- /.col -->
        {{ form_csrf_token() }}
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>