<li>
  <i class="fa fa-comments bg-yellow"></i>

  <div class="timeline-item">
      <div class="callout callout-danger">
          <h4>用户投诉</h4>
          <p>{{ ticketItem.about }}</p>
      </div>
    {% if loop.last == 1 %}
      {% if role == 'customer' %}
        {% include 'WebBundle:TimeLine:customer-timeline-footer.html.twig' %}
      {% endif %}
      {% if role == 'service' %}
        {% include 'WebBundle:TimeLine:operator-timeline-footer.html.twig' %}
      {% endif %}
    {% endif %}
  </div>
</li>